body {
    background-color:#f7f5f5;
    font-family: 'PT Sans', sans-serif;

}
.navList {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: black;
  
}

.navList li {
float: left;
}
.navList li.search {
    float: right;
    }

.navList h1 {
    color:white;
    margin-right: 20vh;
}
.navList a  {
    text-decoration: none;
    color:white;
    padding:5vh;
    display: block;
}

.filter {
    border-bottom: 1px solid black;
    border-width: 80%;
}

.filter h2{
    display: inline-block;
    padding: 10px;
    color: gray;
}

.article {
    width: 95%;
    overflow: hidden;
display: flex;
flex-flow:row nowrap;
align-items: stretch;



}
 .art img {
    padding-left: 20px;
    flex-grow: 3;
  transition: transform 4s;
}


 .art img:hover {
transform: scale(1.05);
 }

 .art h2 {
    text-align: center;
}

.art p{
    text-align: center;
}

.author {
    font-weight: bold;
    text-align: center;

}


.article .news {
    flex-grow: 1;
    word-break: keep-all;
    font-family: 'Playfair Display', serif;

}



.news{
    font-size: 1.4em;

}

.news h4{
    display:inline-block;
    padding-left: 5%;
    border-bottom: 1px gray dotted;
}
.news h4:hover{
    transition: 3s;
transform: scale(1.1);

}
.news ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.news li {
margin-bottom: 2%;
}



.news a {
    text-decoration: none;
    padding-left: 2%;
    box-sizing: border-box;
    color:black;
    
}
.news a:hover {
    text-decoration: underline;
    cursor: pointer;
    
}

.Cselect {
    background-color: #f7f5f5;
    width:100px;   
    text-align-last:center;
    color:gray;
    border: none;
}